/* Basic page styling*/

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: #fafafa;
  color: #333;
}

header {
  text-align: center;
  padding: 2rem 1rem;
}

footer {
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  background: #f1f1f1;
}

/*GRID GALLERY*/
.gallery {
  display: grid;
  gap: 15px;
  padding: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.gallery img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* Hover effect*/
.gallery img:hover {
  transform: scale(1.05);
}

/*Responsive Breakpoint*/
@media (max-width: 768px) {
  .gallery img{
    height: 200px;
  }
}

@media (max-width: 450px) {
  .gallery img{
    height: 150px;
  }
}
